
<!--This is the page you get when logged in, the homepage -->

    <h1>Hello <%= name %></h1>

    <form action="/logout?_method=DELETE" method="POST">        
        <button type="submit">Logout</button>
    </form>
    
